@import "./variables.scss";

.pricing {
    max-width: 100%;
    display: block; 
    margin: 0 auto;
    text-align: center;
    th {
        font-weight: 300;
        text-transform: uppercase;
        padding: 30px;
    }    
    td[scope=row] {
        text-align: left;
        color: $muddy-brown;
        text-transform: uppercase;
        p {
            text-transform: none;
            font-style: italic;
            font-size: calc(8px * 4vw);
            color: $orange;
        }
    }
}