@import './variables.scss';

/*Site Dividers*/

.first-divider {
    margin: 0;
    height: 20px;
    background-color: $orange;
    border: none;
}

.second-divider {
    margin: 0;
    height: 20px;
    background-color: #DB9363;
    border: none;

}

.third-divider {
    margin: 0;
    height: 20px;
    background-color: #DB9363;
    border: none;
}

.fourth-divider {
    margin: 0;
    height: 20px;
    background-color: #DB9363;
}