@import "./variables.scss";
@import "./mixins.scss";

/*SLIDERS*/

.banner-slider {
  position: relative;
  width:100%;
  padding: 0;
  height: 80vh;
  overflow: hidden;
  img,video {
   @include absolute-center();
    top: 0;
    max-width:2000px
  }
.banner {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.slider-item {
  // position: relative;
  height: 100% !important;
}
.slider-caption {
  max-width: 60%;
  top: -150px;
}
}
.blog-caption,
    .blog-caption2,
    .blog-caption3 {
      top: 0;
      height: 100% !important;
      width: 50%;
      left: 50%;
      span {
        display: block;
        margin: 0 auto;
        position: relative;
        height: auto;
        width: 70%;
        
        h5 {
          margin: 2em 0 1em 0;
          font-size: 3vmax;
          font-weight: 300;
          text-transform: uppercase;
          line-height: 51px;
          border-bottom: 1px solid white;
        }
      }
    
    }
      .blog-caption {
        background-color: $orange;
      }
      .blog-caption2 {
        background-color: $muddy-brown;
      }
      .blog-caption3 {
        background-color: #ff694c;
      }
.banner-btn {
  @include white-to-brown-btn();
}