@import "./variables.scss";

/*SLIDERS*/

.banner-slide {
  padding: 0;
  height: 30em;
  overflow-y: hidden;
  .carousel-item {
    position: relative;
    width: 100%;
    min-height: 30em;
    padding: 0;
    overflow: hidden;
    .banner-img,
    .blog-img,
    video {
      position: absolute;
      top: 0%;
      height: 100%;
      max-height: 100%;
      overflow: hidden;
    }
    .banner-btn {
      @include white-to-brown-btn();
    }

    .carousel-caption {
      position: absolute;
      top: 10%;
      height: auto;
    }
    .blog-caption,
    .blog-caption2,
    .blog-caption3 {
      margin-top: 0;
      top: 0;
      min-height: 100%;
      width: 50%;
      left: 50%;
      padding: 0 4em;
      span {
        width: 200px;
        h5 {
          margin: 2em 0 1em 0;
          font-size: 3vmax;
          font-weight: 300;
          text-transform: uppercase;
          line-height: 51px;
          border-bottom: 1px solid white;
        }
      }
    }
    .blog-caption {
      background-color: $orange;
    }
    .blog-caption2 {
      background-color: $muddy-brown;
    }
    .blog-caption3 {
      background-color: #ff694c;
    }

    .home-slider-caption {
      margin-top: 100px;
      height: 40%;
    }
  }
  .carousel-item:nth-of-type(1) {
    video {
      width: 100% !important;
      height: 100% !important;
    }
  }
}
.contact-slider {
  width: 100%;
  min-height: 100%;
  background-color: $babyblue;
  border: 3px solid blue;
  flex-grow: 1;
  .contact-slider-caption {
    text-align: left;
    width: 80%;
    min-height: 100%;
    padding: 2em;

  }
}
