@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');


/*Font-Stack*/

$header: 3em 'Montserrat';
$sub-header: 2em 'Montserrat';
$regular-text: 2em 'Open Sans';

/*Images and Sizing*/

$icon: 128px;
$comment-pic: 264px;

/*Colors*/

$muddy-brown: #1B110C;
$main-white: #fff;
$orange: #DB9363;
$border-ver-1:2px solid white;
$border-ver-2:2px solid #1B110C;