//added enformed.io email to form
//test email form for send-a-message
//change prices
//find password to domain site

@import "./components/mixins.scss";
@import "./components/variables.scss";
@import "./components/navbar.scss";
@import "./components/sliders.scss";
@import "./components/dividers.scss";
@import "./components/media_queries.scss";
@import "./components/table";

/*Buttons*/

.main-btn {
  @include brown-to-white-btn();
}

/*Body, Main Styles*/

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding-bottom: 00px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  padding: 1em;
  font-size: 3.5vmax;
}

a:hover {
  text-decoration: none;
}

/*Mission Statement Styling*/

.mission-wrapper {
  background-image: url("/images/photography/wrinkly_puppy.jpeg");
  background-position: bottom right;
  background-size: 50%;
  background-repeat: no-repeat;
  .mission {
    position: relative;
    padding: 5em 0;
    .mission-statement {
      width: 50%;
      max-width: 50em;
    }
    img {
      position: absolute;
    }
    .satisfaction-logo {
      width: 128px;
      right: -10%;
      top: 4%;
    }
    .mission-img {
      top: 12%;
      right: 0.5%;
      z-index: -1;
      width: 60%;
    }
  }
}

/*What To Expect Container Styling*/

.container-fluid.expectations {
  display: flex;

  height: 100%;
  max-height: 700px;
  padding: 0;
  position: relative;
  img {
    margin: 0 auto;
    width: 128px;
  }
  h3 {
    @include absolute-center();
    top: 13%;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 3vmax;

    z-index: 1;
  }
  .card {
    flex-basis: 100%;
    padding-top: 10em;
    text-align: center;
    height: auto;
    border: none;
    border-radius: 0;

    h5 {
      text-transform: uppercase;
    }
  }
  .card:nth-of-type(1) {
    background-color: #b8bac3;
  }
  .card:nth-of-type(2) {
    background-color: rgba(227, 215, 206, 0.5);
  }
  .card:nth-of-type(3) {
    background-color: rgba(52, 28, 23, 0.3);
  }
}

/*Testimonials Styling*/

.container.testimonials {
  text-align: center;
  h1 {
    margin-top: 1em;
    padding: 1em;
    background-image: url(/images/Misc/testimonials_background.png);
    background-size: cover;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $main-white;
  }
  h3 {
    font-size: 1em;
    color: #303030;
    font-style: italic;
    margin-bottom: 2em;
  }
  .comment {
    margin: 0.3em auto 0 auto;
    width: 264px;
    height: 264px;
  }
  .disclosure {
    overflow-x: visible;
    text-align: left;
    font-size: 8px;
    margin-top: 5em;
  }
  .card {
    border: none;
  }
  .carousel-control-next-icon:after {
    content: ">";
    font-size: 32px;
    color: black;
  }

  .carousel-control-prev-icon:after {
    content: "<";
    font-size: 32px;
    color: black;
  }
}

.container.questions {
  margin-top: 2em;
  .questions-call {
    color: $muddy-brown;
    text-align: center;
    background-color: none;
    margin-bottom: 3em;
    h1 {
      text-transform: uppercase;
    }
  }
  section {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
  }
  @include cards();
  .card {
    border: none;
  }
}

.services-header {
  img {
    width: 100%;
  }
  h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.3em;
    border-bottom: 2px solid #db9363;
    font: $header;
  }
  h3 {
    padding: 1em 0 1em 0;
    text-align: center;
    font-size: 1em;
  }
}

.container-fluid.accordions {
  padding: 2em;
  width: 100%;
  .accordion-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    .btn {
      background-position: center;
      background-size: cover;
      margin: 0 0.3em 0.3em 0;
      font-size: 3em;
      text-align: center;
      padding: 1em;
      width: 50vw;
      min-width: 350px;
      max-width: 500px;
      height: 220px;
      text-transform: uppercase;
      color: $main-white;
      letter-spacing: 19px;
      font-weight: lighter;
      font-size: 3vmax;
    }
    .boarding {
      background-image: url(/images/photography/dog_boarding.jpeg);
    }
    .walking {
      background-image: url(/images/photography/dog_walking.jpeg);
    }
    .sitting {
      background-image: url(/images/photography/sitting.jpeg);
    }
    .specialty {
      background-image: url(/images/photography/dog_specialty.jpeg);
    }
    .accord-text {
      padding: 0 1em 1em 1em;
      max-width: 500px;
    }
  }
}

.question-img {
  width: 50%;
}

.services-img-container {
  @include flexbox();
  img {
    width: 50%;
    height: 50%;
  }
}

.accordion-container {
  @include flexbox;
  width: 100%;
  .accordion.contact {
    width: 80%;
    margin: 0.3em;
    padding: 1em;
    background-color: $muddy-brown;
    color: $main-white;
    border: $border-ver-2;
    text-transform: uppercase;
    &:hover {
      background-color: $main-white;
      border: $border-ver-2;
      color: $muddy-brown;
    }
  }
}

.accordion-content {
  width: 80%;
  padding: 1em;
  background-color: beige;
}

.container.pricing-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
  h1 {
    margin-top: 3em;
  }
  h4 {
    font-size: 1em;
    font-style: italic;
    color: orange;
  }
  .pricing-img-banner {
    width: 100%;
    margin-bottom: 1em;
  }
}

//Blog Page
.latest-posts {
  padding: 1em;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  padding-right: 4em;
}

.meet-founder-container {
  h1 {
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
  }
  .founder-img-container {
    display: block;
    margin: 0 auto;
    width: 22vw;
    height: 22vw !important;
    min-width: 200px;
    min-height: 200px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  h5 {
    padding: 1.5em;
    text-align: center;
    width: 100%;
  }
}

.embed-responsive {
  position: relative;
  .framer {
    @include absolute-center();
    top: 50%;
    width: 30%;
  }
}

.call-to-action {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  align-items: stretch;
  position: relative;
  max-height: 500px;
  overflow: hidden;

  h1 {
    padding: 5em;
  }
  div {
    flex-basis: 100%;
  }
  #contact-slider {
    width: 100%;
    min-height: 500px;
    background-color: $babyblue;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .contact-slider {
      position: relative;
      margin: 0 auto;
      min-width: 80%;
      max-width: 300px;
      height: 100%;
    }
    h3 {
      font-weight: 200;
      text-align: center;
      padding: 2em 0 0.5em 0;
    }
    .contact-slider-caption {
      bottom: 0px;
      left: 0;
      text-align: left;
      form {
        display: block;
        margin: 0 auto;
        max-width: 300px;
      }
    }
  }
  
  div:first-child {
    position: relative;
    height: 100%;
    // overflow: hidden;
    h1 {
      @include absolute-center();
      top: 250px;
      color: white;
      font-size: 5vmax;
      z-index: 1;
    }
    img {
      @include absolute-center();
      top: 200px;
      max-width: 900px;
      max-height: 900px;
    }
  }
  div:nth-child(2) {
    input {
      max-width: 300px;
    }
  }
}

.company-values {
  padding: 1em;
  h3 {
    text-align: center;
    padding: 2em;
  }
}

.contact-container {
  h1 {
    margin: 1em;
    text-align: center;
  }
  p {
    text-align: center;
  }
  img {
    width: 100%;
  }
}

//Global footer
footer {
  background-color: $muddy-brown;
  color: $main-white;
  ul {
    list-style-type: none;
    @include flexbox;
    padding: 1em;

    li a {
      text-decoration: none;
      color: white;
      padding: 1em;
    }
  }
}
