/*Mixins*/
@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans");
/*Font-Stack*/
/*Images and Sizing*/
/*Colors*/
@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans");
/*Font-Stack*/
/*Images and Sizing*/
/*Colors*/
/*Mixins*/
@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans");
.navbar {
  background-color: #1B110C;
  color: #fff;
  height: 100%;
  min-height: 50px;
  padding: 0;
  position: relative;
}

.navbar .navbar-brand img {
  position: absolute;
  top: 50px;
  left: 48%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 128px;
  width: 128px;
  z-index: 1;
}

.navbar ul {
  min-width: 100%;
  display: table;
  table-layout: fixed;
  /* the magic dust that ensures equal width */
}

.navbar li {
  min-height: 100%;
  display: table-cell;
  text-align: center;
}

.navbar li:nth-of-type(3), .navbar li:nth-of-type(4), .navbar li:nth-of-type(7) {
  text-align: left;
  min-width: 50px;
}

.navbar li:nth-of-type(5),
.navbar li:nth-of-type(1) {
  text-align: right;
}

.navbar li:nth-of-type(5) {
  min-width: 50px;
}

.navbar a, .navbar .nav-link {
  font: 2em "Montserrat";
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: white;
}

/*Font-Stack*/
/*Images and Sizing*/
/*Colors*/
/*Mixins*/
/*SLIDERS*/
.banner-slider {
  position: relative;
  width: 100%;
  padding: 0;
  height: 80vh;
  overflow: hidden;
}

.banner-slider img, .banner-slider video {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 0;
  max-width: 2000px;
}

.banner-slider .banner {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-slider .slider-item {
  height: 100% !important;
}

.banner-slider .slider-caption {
  max-width: 60%;
  top: -150px;
}

.blog-caption,
.blog-caption2,
.blog-caption3 {
  top: 0;
  height: 100% !important;
  width: 50%;
  left: 50%;
}

.blog-caption span,
.blog-caption2 span,
.blog-caption3 span {
  display: block;
  margin: 0 auto;
  position: relative;
  height: auto;
  width: 70%;
}

.blog-caption span h5,
.blog-caption2 span h5,
.blog-caption3 span h5 {
  margin: 2em 0 1em 0;
  font-size: 3vmax;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 51px;
  border-bottom: 1px solid white;
}

.blog-caption {
  background-color: #DB9363;
}

.blog-caption2 {
  background-color: #1B110C;
}

.blog-caption3 {
  background-color: #ff694c;
}

.banner-btn {
  margin-top: 3em;
  background-color: transparent;
  color: #fff;
  border: 2px solid white;
  text-transform: uppercase;
}

.banner-btn:hover {
  background-color: #1B110C;
  border: 2px solid #1B110C;
}

.banner-btn a {
  text-decoration: none;
  color: white;
}

/*Font-Stack*/
/*Images and Sizing*/
/*Colors*/
/*Site Dividers*/
.first-divider {
  margin: 0;
  height: 20px;
  background-color: #DB9363;
  border: none;
}

.second-divider {
  margin: 0;
  height: 20px;
  background-color: #DBD0C8;
  border: none;
}

.third-divider {
  margin: 0;
  height: 20px;
  background-color: #a2b7d8;
  border: none;
}

.fourth-divider {
  margin: 0;
  height: 20px;
  background-color: #9E5E41;
}

@media (max-width: 768px) {
  .navbar li {
    text-align: left;
    display: block;
  }
  .navbar li a {
    text-align: left;
  }
  #blogSlider {
    height: 30vh;
  }
  .blog-caption,
  .blog-caption2,
  .blog-caption3 {
    width: 100vw;
    left: 0;
  }
  .meet-founder-container h1 {
    padding-top: 2em;
    padding-bottom: 1.5em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
  }
}

@media (max-width: 990px) {
  .navbar li {
    text-align: left;
    display: block;
  }
  .navbar li a {
    text-align: left;
  }
}

/*Font-Stack*/
/*Images and Sizing*/
/*Colors*/
.pricing {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.pricing th {
  font-weight: 300;
  font-size: 2vw;
  text-transform: uppercase;
  padding: 30px;
}

.pricing td[scope=row] {
  text-align: left;
  font-size: 2.5vmin;
  color: #1B110C;
  text-transform: uppercase;
}

.pricing td[scope=row] p {
  text-transform: none;
  font-style: italic;
  font-size: 1.5vmax;
  color: #DB9363;
}

/*Buttons*/
.main-btn {
  margin-top: 3em;
  background-color: transparent;
  border: 2px solid #1B110C;
  text-transform: uppercase;
}

.main-btn a {
  text-decoration: none;
  color: #1B110C;
}

.main-btn a:hover {
  color: #fff;
}

.main-btn:hover {
  background-color: #1B110C;
  border: 2px solid #1B110C;
}

/*Body, Main Styles*/
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-bottom: 00px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  padding: 1em;
  font-size: 3.5vmax;
}

a:hover {
  text-decoration: none;
}

/*Mission Statement Styling*/
.mission-wrapper {
  background-image: url("/images/photography/wrinkly_puppy.jpeg");
  background-position: bottom right;
  background-size: 50%;
  background-repeat: no-repeat;
}

.mission-wrapper .mission {
  position: relative;
  padding: 5em 0;
}

.mission-wrapper .mission .mission-statement {
  width: 50%;
  max-width: 50em;
}

.mission-wrapper .mission img {
  position: absolute;
}

.mission-wrapper .mission .satisfaction-logo {
  width: 110px;
  right: 0;
  top: 4%;
}

.mission-wrapper .mission .mission-img {
  top: 12%;
  right: 0.5%;
  z-index: -1;
  width: 60%;
}

/*What To Expect Container Styling*/
.container-fluid.expectations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-height: 700px;
  padding: 0;
  position: relative;
}

.container-fluid.expectations img {
  margin: 0 auto;
  width: 128px;
}

.container-fluid.expectations h3 {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 13%;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 3vmax;
  z-index: 1;
}

.container-fluid.expectations .card {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-top: 10em;
  text-align: center;
  height: auto;
  border: none;
  border-radius: 0;
}

.container-fluid.expectations .card h5 {
  text-transform: uppercase;
}

.container-fluid.expectations .card:nth-of-type(1) {
  background-color: #b8bac3;
}

.container-fluid.expectations .card:nth-of-type(2) {
  background-color: rgba(227, 215, 206, 0.5);
}

.container-fluid.expectations .card:nth-of-type(3) {
  background-color: rgba(52, 28, 23, 0.3);
}

/*Testimonials Styling*/
.container.testimonials {
  text-align: center;
}

.container.testimonials h1 {
  margin-top: 1em;
  padding: 1em;
  background-image: url(/images/Misc/testimonials_background.png);
  background-size: cover;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
}

.container.testimonials h3 {
  font-size: 1em;
  color: #303030;
  font-style: italic;
  margin-bottom: 2em;
}

.container.testimonials .comment {
  margin: 0.3em auto 0 auto;
  width: 264px;
  height: 264px;
}

.container.testimonials .disclosure {
  overflow-x: visible;
  text-align: left;
  font-size: 8px;
  margin-top: 5em;
}

.container.testimonials .card {
  border: none;
}

.container.testimonials .carousel-control-next-icon:after {
  content: ">";
  font-size: 32px;
  color: black;
}

.container.testimonials .carousel-control-prev-icon:after {
  content: "<";
  font-size: 32px;
  color: black;
}

.container.questions {
  margin-top: 2em;
}

.container.questions .questions-call {
  color: #1B110C;
  text-align: center;
  background-color: none;
  margin-bottom: 3em;
}

.container.questions .questions-call h1 {
  text-transform: uppercase;
}

.container.questions section {
  width: 100%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container.questions .flex-wrapper-cards {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  margin-bottom: 5em;
}

.container.questions .flex-wrapper-cards .card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 40%;
  height: 135px;
  max-width: 300px;
  margin: 0 1em 1em 0;
}

.container.questions .flex-wrapper-cards .card .card-body {
  width: 60%;
  height: auto;
  font-size: 12px;
}

.container.questions .flex-wrapper-cards .card img {
  padding: 0.3em;
  height: 64px;
  width: 64px;
}

.container.questions .card {
  border: none;
}

.services-header img {
  width: 100%;
}

.services-header h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0.3em;
  border-bottom: 2px solid #db9363;
  font: 3em "Montserrat";
}

.services-header h3 {
  padding: 1em 0 1em 0;
  text-align: center;
  font-size: 1em;
}

.container-fluid.accordions {
  padding: 2em;
  width: 100%;
}

.container-fluid.accordions .accordion-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-fluid.accordions .accordion-buttons .btn {
  background-position: center;
  background-size: cover;
  margin: 0 0.3em 0.3em 0;
  font-size: 3em;
  text-align: center;
  padding: 1em;
  width: 50vw;
  min-width: 350px;
  max-width: 500px;
  height: 220px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 19px;
  font-weight: lighter;
  font-size: 3vmax;
}

.container-fluid.accordions .accordion-buttons .boarding {
  background-image: url(/images/photography/dog_boarding.jpeg);
}

.container-fluid.accordions .accordion-buttons .walking {
  background-image: url(/images/photography/dog_walking.jpeg);
}

.container-fluid.accordions .accordion-buttons .sitting {
  background-image: url(/images/photography/sitting.jpeg);
}

.container-fluid.accordions .accordion-buttons .specialty {
  background-image: url(/images/photography/dog_specialty.jpeg);
}

.container-fluid.accordions .accordion-buttons .accord-text {
  padding: 0 1em 1em 1em;
  max-width: 500px;
}

.question-img {
  width: 50%;
}

.services-img-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.services-img-container img {
  width: 50%;
  height: 50%;
}

.accordion-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.accordion-container .accordion.contact {
  width: 80%;
  margin: 0.3em;
  padding: 1em;
  background-color: #1B110C;
  color: #fff;
  border: 2px solid #1B110C;
  text-transform: uppercase;
}

.accordion-container .accordion.contact:hover {
  background-color: #fff;
  border: 2px solid #1B110C;
  color: #1B110C;
}

.accordion-content {
  width: 80%;
  padding: 1em;
  background-color: beige;
}

.container.pricing-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
}

.container.pricing-title h1 {
  margin-top: 3em;
}

.container.pricing-title h4 {
  font-size: 1em;
  font-style: italic;
  color: orange;
}

.container.pricing-title .pricing-img-banner {
  width: 100%;
  margin-bottom: 1em;
}

.latest-posts {
  padding: 1em;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  padding-right: 4em;
}

.meet-founder-container h1 {
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
}

.meet-founder-container .founder-img-container {
  display: block;
  margin: 0 auto;
  width: 22vw;
  height: 22vw !important;
  min-width: 200px;
  min-height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.meet-founder-container .founder-img-container img {
  width: 100%;
  height: 100%;
}

.meet-founder-container h5 {
  padding: 1.5em;
  text-align: center;
  width: 100%;
}

.embed-responsive {
  position: relative;
}

.embed-responsive .framer {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  width: 30%;
}

.call-to-action {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.call-to-action h1 {
  padding: 5em;
}

.call-to-action div {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.call-to-action #contact-slider {
  width: 100%;
  min-height: 500px;
  background-color: #a2b7d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.call-to-action #contact-slider .contact-slider {
  position: relative;
  margin: 0 auto;
  min-width: 80%;
  max-width: 300px;
  height: 100%;
}

.call-to-action #contact-slider h3 {
  font-weight: 200;
  text-align: center;
  padding: 2em 0 0.5em 0;
}

.call-to-action #contact-slider .contact-slider-caption {
  bottom: 0px;
  left: 0;
  text-align: left;
}

.call-to-action #contact-slider .contact-slider-caption form {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

.call-to-action div:first-child {
  position: relative;
  height: 100%;
}

.call-to-action div:first-child h1 {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 250px;
  color: white;
  font-size: 5vmax;
  z-index: 1;
}

.call-to-action div:first-child img {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 200px;
  max-width: 900px;
  max-height: 900px;
}

.call-to-action div:nth-child(2) input {
  max-width: 300px;
}

.company-values {
  padding: 1em;
}

.company-values h3 {
  text-align: center;
  padding: 2em;
}

.contact-container h1 {
  margin: 1em;
  text-align: center;
}

.contact-container p {
  text-align: center;
}

.contact-container img {
  width: 100%;
}

footer {
  background-color: #1B110C;
  color: #fff;
}

footer ul {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1em;
}

footer ul li a {
  text-decoration: none;
  color: white;
  padding: 1em;
}
/*# sourceMappingURL=main.css.map */